version: '3.4'

services:
  mysimplescalableserver:
    image: mysimplescalableserver
    build:
      context: ./backend/
      dockerfile: ./Dockerfile
    volumes:
      # Mount the root folder that contains .git
      - .:/workspace:cached
    command: /bin/sh -c "while sleep 1000; do :; done"
      
  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "root"

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
